.productContainer {

  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;

}

.MuiGrid-container {

  display: flex;
  margin-top: 60px !important;
  justify-items: center !important;

}

.MuiPaper-root {
  
  margin: auto !important;

}

.MuiCardMedia-root {

  background-size: contain !important;

}